@mixin mediaQuery($breakpoint) {
    $breakpoint-size: map-get(
        $map: $breakpoints,
        $key: $breakpoint,
    );

    @if ($breakpoint-size) {
        @media #{$breakpoint-size} {
            @content;
        }
    } @else {
        @error "Unknown breakpoint - #{breakpoint}";
    }
}

@mixin addFocus($outline-offset) {
    &:focus,
    &:active {
        outline-color: #f00;
        outline-offset: #{$outline-offset};
        outline-width: 2px;
        outline-style: solid;
    }
}

@mixin addFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}
