.service {
    padding: 0 $bsc-padding;

    &__name {
        margin-top: $bsc-margin * 2;
        font-size: 2.5rem;
        font-weight: normal;
        text-align: center;
    }

    &__description {
        padding: $bsc-margin * 2 0;
        font-size: 1.5rem;
        text-align: center;

        @include mediaQuery(mobileXMedium) {
            text-align: left;
        }
    }
}
