.contact {
    @include addFlex();
    flex-wrap: wrap;

    &__address,
    &__form-container {
        padding: $bsc-padding * 3 $bsc-padding * 2;
        flex-basis: 100%;

        @include mediaQuery(mobileXMedium) {
            flex-basis: 50%;
            height: 485px;
        }

        @include mediaQuery(mobileLarge) {
            height: 415px;
        }
    }

    &__title,
    &__company-address {
        color: $white-color;
    }

    &__address {
        background-color: $black-grey-bgc;
        text-align: center;

        @include mediaQuery(mobileLarge) {
            text-align: left;
        }
    }

    &__title {
        font-size: 3rem;
        text-transform: uppercase;
    }

    &__company-address {
    }

    &__form-container {
        background-color: $blue-green-bgc;
    }

    &__form {
    }
}
