.teammate-social-media-container {
    @include addFlex();
    justify-content: space-around;
    margin: $bsc-margin * 3 auto;
    max-width: 200px;

    &__background {
        @include addFlex();
        @include addFocus(1px);
        width: 35px;
        height: 35px;
        background-color: rgba($black-color, 0.2);
        transition: background-color 0.2s linear;
        cursor: pointer;
        @include addFocus(1px);

        &:hover {
            background-color: rgba($white-color, 0.2);
        }
    }

    &__social-media-icon {
        width: 20px;
        height: 20px;
    }
}
