.team {
    @include addFlex();
    flex-wrap: wrap;
    width: 100%;

    &__teammate {
        flex-basis: 100%;

        @include mediaQuery(mobileXMedium) {
            flex-basis: 33.33%;
        }
    }
}
