.callback-request {
    @include addFlex();
    height: 600px;
    background-image: url("./../assets/images/mobile_s1_bg.jpg");
    @include addBackgroundProperties();

    @include mediaQuery(mobileLarge) {
        background-image: url("./../assets/images/desktop_s1_bg.jpg");
    }

    &__background {
        background-color: rgba(0, 0, 0, 0.5);
        padding: $bsc-padding * 2.5;
    }

    &__container {
        padding-top: 75px;
    }

    &__heading {
        margin: 0 auto;
        max-width: 500px;
        font-size: 2rem;
        text-align: center;
        text-transform: uppercase;
        color: $white-color;

        @include mediaQuery(mobileXMedium) {
            font-size: 3rem;
        }
    }

    &__star {
        width: 70%;
        height: 70%;
        fill: white;
    }

    &__form {
        position: relative;
        margin: 0 auto;
        max-width: 500px;
        background-color: $white-color;
    }

    &__form-input {
        padding: $bsc-padding;
        width: 80%;
        border: 1px solid $black-color;
        border-radius: 5px;

        &:nth-of-type(1) {
            margin-top: $bsc-margin * 5;
        }

        &:nth-of-type(2) {
            margin: $bsc-margin * 2 0;
        }

        @include addFocus(1px);
    }

    &__form-submit-btn {
        width: 80%;
    }
}
