$bsc-margin: 10px;
$bsc-padding: 10px;

$blue-green-bgc: #50dcc9;
$black-bgc: #111;
$black-grey-bgc: #222;
$footer-bgc: #171717;

$white-color: #fff;

$breakpoints: (
    mobileSmall: (
        min-width: 460px,
    ),
    mobileMedium: (
        min-width: 640px,
    ),
    mobileXMedium: (
        min-width: 800px,
    ),
    mobileLarge: (
        min-width: 1024px,
    ),
    desktopSmall: (
        min-width: 1280px,
    ),
    desktopMedium: (
        min-width: 1360px,
    ),
    desktopLarge: (
        min-width: 1600px,
    ),
);
